<div class="container banner">
			<div class="col-lg-3 setpaddingLeft">
				<div class="leftPopularDownload">
				    <div class="CategoriesHead">
						<h4>Popular Download</h4>
					</div>
				</div>
			</div>
			<div class="col-lg-6 setpadding">
				<div class="TextBox">
					<h1>ฟรีไอคอน</h1>
				</div>
			</div>
			<div class="col-lg-3 setpaddingRight">
				<div class="IndexAds">
					
				</div>
			</div>
			<div class="col-lg-3 setpaddingLeft">
				<div class="leftPopularSearch">
				    <div class="CategoriesHead">
						<h4>Popular Search</h4>
					</div>
				</div>
			</div>
			<div class="col-lg-6 setpadding">
				<div class="mainAdvertis">
					<h1>Ads</h1>
				</div>
			</div>
			<div class="col-lg-3 setpaddingRight">
				<div class="SidexAds">
					<div class="CategoriesHead">
						<h4>Categories Check List</h4>
					</div>
					<ul>
						<li>
							<a href="">รวม Facebook Icon</a>
						</li>
						<li>
							<a href="">รวม Youtube Icon</a>
						</li>
						<li>
							<a href="">รวมไอคอนน่ารักๆ</a>
						</li>
						<li>
							<a href="">รวมอีโมติคอน</a>
						</li>
					</ul>
				</div>
			</div>
	</div>