<div class="banner">
			<div class="col-lg-9 setpadding">
				<div class="TextBox">
					<h1><%=  title %></h1>
					<h4><%= des %></h4>
					<center>
					<ul class="description">
						<li class="col-md-4 col-md-offset-2"> <%= first %></li>
						<li class="col-md-4 "> <%= second %></li>
					</ul>
					</center>
				</div>
			</div>
			<div class="col-lg-3 setpaddingRight">
				<div class="IndexAds">
					
				</div>
			</div>
	</div>