<li class="dropdown menuclick menuetc">
	<a href="" class="dropdown-toggle dp" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		<span class="glyphicon glyphicon-tree-deciduous"></span>
		<span class="glyphicon menuLink">ไอคอนอื่นๆ</span>
		<span class="caret"></span>
	</a>
	<ul class="dropdown-menu etcMenu">
		<li><a href="./mouse">iconเมาส์</a></li>
		<li><a href="./flower">ไอคอนดอกไม้</a></li>
		<li><a href="./line">ไอคอนไลน์</a></li>
		<li><a href="./cute">ไอคอนคอมพิวเตอร์น่ารัก</a></li>
		<li><a href="./heart">ไอค่อนรูปหัวใจสวยๆ</a></li>
		<li><a href="./year">ไอคอนปีใหม่</a></li>
     </ul>
</li>
<script type="text/javascript">
	$('.menuSocial .dp').click(function(){return false;});
</script>