<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
    <title><%= pageTitle%></title>
    <meta name="description" content="เว็บแจกไอคอน มีไอคอนให้เลือกมากมาย ไม่ว่าจะเป็น ไอคอนหน้าจอ ไอคอนเฟส ไอคอนแฟ้มเอกสาร ไอคอนน่ารัก เป็นต้น และที่สำคัญ สามารถดาวน์โหลดได้ฟรีทุกอัน">
    <meta name="keywords" content="ไอคอน,ไอคอนเฟส,ไอคอนหน้าจอ,ไอคอน facebook,ไอคอนน่ารัก,ไอคอนน่ารักๆ,ไอคอนแอพ ">
    <meta property="og:title" content="ไอคอน">
    <meta property="og:site_name" content="ไอคอน">
    <meta property="og:url" content="http://freeicon.herokuapp.com/">
    <meta property="og:type" content="website">
    
<!--     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->
</head>
<% include ./menuTemplate %>
<div class="backmenu">
		
</div>
<div class="container setpadding">
	<% include ./banner %>
</div>	
<div class="container">
		<div class="row">
			<div class="col-lg-9 information1">
				<section class="content">
					<div class="headContent">
						<h4>คุณสมบัติของไฟล์แต่ละชนิด</h4>
					</div>
				</section>
				<section class="detail">
					<div class="col-md-4 col-sm-6">
						<h4>PNG</h4>
						<hr>
						<ul class="pngList">
							<li>1. เป็นไฟล์ที่มีความละเอียดสูง</li>
							<li>2. ภาพที่ได้มีความชัดกว่าไฟล์ JPG</li>
							<li>3. เหมาะสำหรับใช้งานในเว็บไซต์</li>
							<li>4. สามารถบีบอัดไฟล์ให้มีขนาดเล็กกว่า GIF ประมาณ 10-30%</li>
							<li>5. สามารถทำพื้นหลังโปร่งใส (Transparency)</li>
							<li>6. รองรับการแสดงผลของสีได้มากถึง 48 บิต</li>
							<li>7. สามารถทำภาพเคลื่อนไหวได้แต่ต้องใช้ระบบ MNG (Multi-Image PNG) เข้าช่วย</li>
						</ul>
					</div>
					<div class="col-md-4 col-sm-6">
						<h4>ICO</h4>
						<hr>
						<ul class="pngList">
							<li>1. ใช้เป็นสัญลักษณ์แทนโปรแกรม หรือ โฟล์เดอร์ต่างๆ</li>
							<li>2. บ่งบอกถึงจุดประสงค์ของโปรแกรมนั้นๆว่าใช้ทำอะไร</li>
							<li>3. มีความเป็นเอกลักษณ์ทำให้จดจำได้ง่าย</li>
						</ul>
					</div>
					<div class="col-md-4 col-sm-6">
						<h4>SVG</h4>
						<hr>
						<ul class="pngList">
							<li>1. เมื่อขยายหรือลดขนาด จะไม่มีผลกระทบต่อรูปชนิดนี้</li>
							<li>2. ไฟล์ขนาดเล็ก ซึ่งถ้านำไปใช้งานในเว็บไซต์จะช่วยลดความล่าช้าในการโหลดข้อมูล</li>
							<li>3. สามารถนำไปแก้ไขในโปรแกรม Adobe Illustrator ได้</li>
						</ul>
					</div>
					<div class="col-md-12 col-sm-12 thanksTo">
						<h4>ขอขอบคุณ</h4>
						<hr>
					</div>	
					<div class="col-md-4 col-sm-6">
						<h5><a href="http://www.webbastard.net">webbastard </a> ผู้ออกแบบเว็บไซต์และคำแนะนำดีๆ</h5>
					</div>
					<div class="col-md-4 col-sm-6">
						<h5><a href="http://www.iconfinder.com">iconfinder </a> ศูนย์รวมไอคอนระดับคุณภาพ</h5>
					</div>		
				</section>
			</div>
			<div class="col-lg-3 setpaddingRight">
				<div class="SidexAds">
					<div class="CategoriesHead">
						<h4>Categories Check List</h4>
					</div>
					<ul>
						<li>
							<a href="./facebook">รวม Facebook Icon</a>
						</li>
						<li>
							<a href="./youtube">รวม Youtube Icon</a>
						</li>
						<li>
							<a href="./google">รวม Google Icon</a>
						</li>
						<li>
							<a href="./instagram">รวม Instagram Icon</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 setpaddingLeft">
				<div class="leftPopularSearch1">
				    <div class="CategoriesHead">
						<h4>Popular Search</h4>
					</div>
				</div>
			</div>
			<div class="col-lg-9 setpadding">
				<div class="mainAdvertis">
					<h1></h1>
				</div>
			</div>
			<div class="col-lg-3 setpaddingLeft">
				<div class="leftPopularDownload">
				    <div class="CategoriesHead">
						<h4>Popular Download</h4>
					</div>
				</div>
			</div>
		</div>
</div>                                    
<% include ./footer %>	