<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
    <title>ดาวน์โหลดไอคอนหน้าจอ ไอคอนเฟส ฟรี!!</title>
    <meta name="description" content="เว็บแจกไอคอน มีไอคอนให้เลือกมากมาย ไม่ว่าจะเป็น ไอคอนหน้าจอ ไอคอนเฟส ไอคอนแฟ้มเอกสาร ไอคอนน่ารัก เป็นต้น และที่สำคัญ สามารถดาวน์โหลดได้ฟรีทุกอัน">
    <meta name="keywords" content="ไอคอน,ไอคอนเฟส,ไอคอนหน้าจอ,ไอคอน facebook,ไอคอนน่ารัก,ไอคอนน่ารักๆ,ไอคอนแอพ ">
    <meta property="og:title" content="ไอคอน">
    <meta property="og:site_name" content="ไอคอน">
    <meta property="og:url" content="http://freeicon.herokuapp.com/">
    <meta property="og:type" content="website">
    
<!--     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">
	        <img alt="Brand" src="img/logo.png" width="70" height="30">
	      </a>
	    </div>
	    <ul class="nav navbar-nav">
	    	<li class="active">
		    	<a href="#">
				    <span class="glyphicon icon-home"></span>
				    <span class="glyphicon menuLink"> HOME</span>
		    	</a>
	    	</li>
	    	<li class="">
		    	<a href="./facebook">
			    	<span class="glyphicon icon-facebook-squared"></span>
			    	<span class="glyphicon menuLink"> ไอคอนเฟส</span>
			    </a>
		    </li>
		    <li class="">
		    	<a href="#">
			    	<span class="glyphicon icon-desktop"></span>
			    	<span class="glyphicon menuLink"> ไอคอนหน้าจอ</span>
			    </a>
		    </li>
		    <li class="">
		    	<a href="./search">
			    	<span class="glyphicon icon-search"></span>
			    	<span class="glyphicon menuLink">ค้นหาไอคอน</span>
			    </a>
		    </li>    
	    </ul>
	  </div>
	</nav>
	<div class="bg">
	    <div ng-app="FreeIcon">

	    	<!-- <h1 class="HeadText">ฟรีไอคอน</h1> -->
	    	<div ng-controller = "IconsController" class=""> <!--ng-init ="listIcon()"--> 
	    		<center>
	    			<div class="header">
		    			<!-- <img src="img/logo.png" width="250" height="106"> -->
			    		<div class="form-group">
						    <form>
		                       <input type="text" class="search" id="search" ng-init ="listIcon()" ng-model="post.PostId" placeholder="Search..." required>
		                       <span class="arrow">
		                       <input type="button" id="btnSearch" class="button" ng-click="listIcon(post.PostId);" value="Search">
		                   	   </span>
				            </form>
						</div>
					</div>
				</center>
	   				<ul class = "item-list row col-centered col-md-offset-0">
						<li ng-repeat="data in datas" class="col-md-2 list" alt="ไอคอน เฟส">
							<a href="#" class="img-block" onclick="showImageInModal(this);" data-toggle="modal" data-target="#myModal" >
								<img ng-src="{{data.imgUrl}}" alt="img01" class="img-center" onerror="imgError(this);" >
	<!-- 							<h4 class="hideDataName">{{data.name}}</h4> -->
								<h4 class="dataLink" data-locations='{{data.linkDownloadPngFile}}'></h4>
								<h4 class="hideDataName icoLink">{{data.icoLink}}</h4>	
							</a>
						</li>
					</ul>
				<center><div class="loader"></div></center>
				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<!-- 				        <center><h4 class="modal-title" id="myModalLabel"></h4></center> -->
				      </div>
				      <div class="modal-body showImg">
				        <center><img class="mdImg" src=""></center>
				      </div>
				      <div class="modal-footer PNG">
				      	<button type="button" class="btn btn-success" data-dismiss="modal">ไฟล์นามสกุล PNG</button>
				        
				      </div>
				      <div class="modal-footer">
				      	<button type="button" class="btn btn-success" data-dismiss="modal">ไฟล์นามสกุล ICON</button>
				      	<a href="" class="linktoIcon">
				      		<button class='btn btn-primary'>Download</button>
				      	</a>
				      </div>
				    </div>
				  </div>
				</div>
	    	</div>
	    </div>
	 </div><!-- container -->
</body>
<script type="text/javascript" src="./javascripts/angular.js"></script>
<script>
	var app = angular.module("FreeIcon",[]);
	app.controller("IconsController",function($scope,$http){
		$scope.Topics = [];
		$scope.datas = [];
		$scope.adding = [];
		$scope.icoLink =[];
		var calculateTotalrang = 1;
		var numberIcon = 1;
		var countShow = 1;
		var checkText = "";
		var linkDownloadPng = [];
		$(".loader").hide();
		$scope.listIcon = function(searchText){
			calculateTotalrang =1;
			$scope.datas = [];
			countShow = 1;
			$scope.imgUrl = [];
			checkText = searchText;
			numberIcon =1;
			if(checkText == null ||checkText == undefined){
				checkText ="social";
				queryData(checkText);
			}
			if($scope.post != undefined || $scope.post != null){
				$http.post('/view1',$scope.post).
		        success(function(data) {
		            console.log("posted successfully");
		            checkText = data;
		            queryData(checkText);

		        }).error(function(data) {
		            console.error("error in posting");
		        })
	        }
	        function queryData(checkText){
	        	showUi();
	        	var url = "https://api.iconfinder.com/v2/icons/search?query="+checkText+"&count=100&premium=0";
	        	$http.get(url).success(function(data){
	        		$scope.datas = [];
	        		console.log(checkText);
	        		placeData(data);
	        		calculateCount();
	        		scrollingLoadData();
	        		if($scope.Topics.total_count == 0){
						alert("ไม่มี Icon ที่คุณตามหา");
					}
	        	}).error(function(data){
					location.reload();
				});

	        }

	        function scrollingLoadData(){
	        	$(window).scroll(function(e) {
	        		if(numberIcon < calculateTotalrang){
	        			if($(window).scrollTop() == $(document).height() - $(window).height()) {
	        				showUi();
	        				countShow = countShow +100;
	        				getDataAgain(countShow);
	        				numberIcon++;
	        				console.log(numberIcon)
	        				console.log(calculateTotalrang)
	        				//e.preventDefault();
	        			}
	        		}else{
	        			calculateCount = 1;
	        		}
	        	})


	        }

	        function getDataAgain(countShow){

	        	var url = "https://api.iconfinder.com/v2/icons/search?query="+checkText+"&count=100&premium=0&offset=";
	        	url += ""+countShow;
	        	$http.get(url).success(function(data){

	        		placeData(data);

	        	}).error(function(error, status){
					console.log("Error"+error);
					console.log("Error"+status);
					location.reload();
				});

	        }
	        function calculateCount() {
	        	var totalCount = $scope.Topics.total_count;
	        	calculateTotalrang = Math.floor(totalCount/100);
	        }
			function showUi() {
	        	$(".loader").show();
	        }
			// console.log(checkText);
			// 
			// $http.get(url).success(function(data){
			// placeData(data);
			// var totalCount = $scope.Topics.total_count;
			// //console.log(totalCount);
			// caculateTotalrang = Math.floor(totalCount/100);
			// $(window).scroll(function(e) {
			// 		if(numberIcon <= caculateTotalrang){
			// 			//console.log(numberIcon);
			// 			//console.log(caculateTotalrang);
			// 		    if($(window).scrollTop() >= $(document).height() - $(window).height()) {
			// 		    	  $(".loader").show();
			// 		          countShow = countShow +100;
			// 		          //console.log(countShow);			  
			// 		          var url = "https://api.iconfinder.com/v2/icons/search?query="+checkText+"&count=100&premium=0&offset=";
			// 		          url += ""+countShow;
			// 		          //console.log(url);
			// 		          $http.get(url).success(function(data){
			// 					placeData(data);
			// 				  }).error(function(error, status){
			// 				  	console.log("Error"+error);
			// 				  	console.log("Error"+status);
			// 				  	location.reload();
			// 				  });
			// 				  numberIcon++;
			// 		    }
			// 		}
			// 	e.preventDefault();
			// })
			// if($scope.Topics.total_count == 0){
			// 	alert("ไม่มี Icon ที่คุณตามหา");
			// }

			// }).error(function(data){
			// 	location.reload();
			// })
		}
		function placeData(data){
			$scope.Topics = data;
			for(var i = 0;i<$scope.Topics.icons.length;i++){
				var downloadIcoUrl= "https://api.iconfinder.com/v2";
				if($scope.Topics.icons[i].containers[0] === undefined){
				   //console.log(i);
				   // break;
				}else{
					var downloadUrlIco = $scope.Topics.icons[i].containers[0].download_url;
						downloadIcoUrl += downloadUrlIco;
				for(var j = 0;j<$scope.Topics.icons[i].raster_sizes.length;j++){
					var rasterSize = $scope.Topics.icons[i].raster_sizes[j].size_width;
					var previewuUrl = $scope.Topics.icons[i].raster_sizes[j].formats[0].preview_url;
					//var iconName = $scope.Topics.icons[i].categories[0].name;
					//console.log($scope.Topics.icons[i]);
					var downloadUrlName = "https://api.iconfinder.com/v2";
					downloadUrlName += $scope.Topics.icons[i].raster_sizes[j].formats[0].download_url;
					linkDownloadPng.push(downloadUrlName);
					//console.log(linkDownloadPng);
					//console.log(downloadIcoUrl);
					if(previewuUrl){
						if(rasterSize === 512){
							getData(previewuUrl,"",linkDownloadPng,downloadIcoUrl);
							//console.log(linkDownloadPng);
							break;
						}
						if(rasterSize === 256){
							getData(previewuUrl,"",linkDownloadPng,downloadIcoUrl);
							//console.log(linkDownloadPng);
							break;
						}
						if(rasterSize === 128){
							getData(previewuUrl,"",linkDownloadPng,downloadIcoUrl);
							//console.log(linkDownloadPng);
							break;
						}
					}
				}
				}
				$('.item-list').show();
				//console.log("cut");
				linkDownloadPng = [];
				downloadIcoUrl = "";
			}
			//$scope.datas.Name.push($scope.Name);
			//console.log($scope.datas);
			$(".loader").hide();
		}
		function getData(previewuUrl,iconName,linkDownloadPng,downloadUrlIco){
			$scope.datas.push({
								imgUrl:previewuUrl,
								name:iconName,
								linkDownloadPngFile:linkDownloadPng,
								icoLink:downloadUrlIco
							})
			//console.log($scope.datas);
		}
		$('#search').keypress(function (e) {
		 var key = e.which;
		 if(key == 13)  // the enter key code
		  {
		    var getSearchtxt = $("#search").val();
		    $scope.listIcon(getSearchtxt);
		  }
		}); 
	})
	function imgError(image){
	 	// image.parent().remove();
	 	 event.stopPropagation();
    	 $(image).parent().parent().hide();
	}
	function showImageInModal(imageLink){
		var getImg = $(imageLink).children().attr("ng-src");
		//var getName = $(imageLink).children().text();
		var getLink = $(imageLink).find(".dataLink").data('locations');
		var getIconLink = $(imageLink).find(".icoLink").text();
		//console.log(getIconLink);
		var changToInt=[];
		var getSize = [];
		var joining;
		for(var i=0;i<getLink.length;i++){
			getSize = getLink[i].split("/");
			changToInt.push(parseInt(getSize[8]));
			//console.log(getSize[8]);
		}
		var sorting = changToInt.sort(function(a, b){return a-b});

		for(var j = 0;j<sorting.length;j++){
			getSize[8] = ""+sorting[j];
			joining = getSize.join("/");

			$(".PNG").append("<a class=link href="+joining+"><button class='btn btn-primary'>"+sorting[j]+"px</button></a>");
		}
		
		$(".mdImg").attr("src",""+getImg+"");
		//$("#myModalLabel").text(""+getName+"");
		$('.linktoIcon').attr('href',''+getIconLink);
	}

	$('#myModal').on('hidden.bs.modal', function (e) {
  		$(".link").remove(".link");
	 })
	
</script>
<script type="text/javascript">
	(function($) {
    var $window = $(window),
        $col = $('ul');
        //console.log($window);
    function resize() {
        if ($window.width() <= 1306) {
        	$col.removeClass('col-md-offset-0');
        	$col.css('margin-left','0px');
        	$col.css('padding-left','0px');
            return $col.addClass('col-md-offset-1');
        }else{
        	$col.removeClass('col-md-offset-1');
            return $col.addClass('col-md-offset-0');
        }
    }
    $window
        .resize(resize)
        .trigger('resize');
})(jQuery);

</script>
</html>