<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>
<body>
	<div class="container">
	    <div ng-app="FreeIcon">
	    	<h1 class="HeadText">แจก Icon ฟรี!!</h1>
	    	<div ng-controller = "IconsController" class=""> <!--ng-init ="listIcon()"--> 
	    		<div class="form-group">
				  <input type="text" class="form-control search" id="search" ng-init ="listIcon()"ng-model="post.PostId" placeholder="Search">
				  <button class="btn btn-primary btnSearch" ng-click="listIcon(post.PostId);">Search</button>
				  </input>
				</div>
	    		<div class="loader"></div>
	   			<ul class = "item-list row col-centered col-md-offset-0">
					<li ng-repeat="t in imgUrl" class="col-md-1 list">
						<a href="#" class="img-block">
							<img ng-src="{{t}}" alt="img01" width ="64" height ="64"class="img-center">
							<button class="btn btn-primary button-center">DOWNLOAD</button>
						</a>
					</li>
				</ul>
				<center>
					<div class="container">
						<ul class="pagination pagination-lg">
								
						</ul>
					</div>
				</center>
	    	</div>
	    </div>
	 </div><!-- container -->
</body>
<script type="text/javascript" src="./javascripts/jquery-1.12.4.js"></script>
<script type="text/javascript" src="./javascripts/angular.js"></script>
<script>
	var app = angular.module("FreeIcon",[]);
	app.controller("IconsController",function($scope,$http){
		$scope.title = "Hello Webboard";
		$scope.Topics = [];
		$scope.imgUrl = [];
		$scope.Name = [];
		$(".loader").hide();
		$scope.listIcon = function(searchText){
			if(searchText == null ||searchText == undefined){
				searchText ="search";
			}
			$(".loader").show();
			console.log(searchText);
			$scope.imgUrl = [];
			$('.pagination').children().remove();
			var url = "https://api.iconfinder.com/v2/icons/search?query="+searchText+"&count=100&premium=0";
			$http.get(url).success(function(data){
			placeData(data);


			var totalCount = $scope.Topics.total_count;
			var caculatePage = totalCount/100;
			var intvalue = Math.floor( caculatePage );
			var numberIcon = 1;
			for(var page = 1;page<=intvalue;page++){
				$('.pagination').append("<li><a href=# class=number"+page+" value="+numberIcon+">"+page+"</a></li>");
				numberIcon = numberIcon +100;
				$(".number"+page).click(function(){
					$scope.imgUrl = [];
					$(".loader").show();
					$(".pagination").hide();
					var url = "https://api.iconfinder.com/v2/icons/search?query="+searchText+"&count=100&premium=0&offset=";
					url += ($(this).attr("value"));
					$http.get(url).success(function(data){
						placeData(data);
						$(".pagination").show();
					});
				});
			}
			if($scope.Topics.total_count == 0){
				alert("ไม่มี Icon ที่คุณตามหา");
			}
			// for(var i = 0;i<$scope.Topics.icons.length;i++){
			// 		for(var j = 0;j<$scope.Topics.icons[i].raster_sizes.length;j++){
			// 			var rasterSize = $scope.Topics.icons[i].raster_sizes[j].size_width;
			// 			var previewuUrl = $scope.Topics.icons[i].raster_sizes[j].formats[0].preview_url;
			// 			if(rasterSize === 512){
			// 			    $scope.imgUrl.push(previewuUrl);
			// 				break;
			// 			}
			// 			if(rasterSize === 256){
			// 			    $scope.imgUrl.push(previewuUrl);
			// 				break;
			// 			}
			// 			if(rasterSize === 128){
			// 			    $scope.imgUrl.push(previewuUrl);
			// 				break;
			// 			}
			// 			if(rasterSize === 64){
			// 			    $scope.imgUrl.push(previewuUrl);
			// 				break;
			// 			}
			// 		}
			// }
			//console.log($scope.imgUrl.length);
			}).error(function(data){
				alert("Error");
			})
		}

		function placeData(data){
			$scope.Topics = data;
			for(var i = 0;i<$scope.Topics.icons.length;i++){
				for(var j = 0;j<$scope.Topics.icons[i].raster_sizes.length;j++){
					var rasterSize = $scope.Topics.icons[i].raster_sizes[j].size_width;
					var previewuUrl = $scope.Topics.icons[i].raster_sizes[j].formats[0].preview_url;
					if(rasterSize === 512){
						$scope.imgUrl.push(previewuUrl);
						break;
					}
					if(rasterSize === 256){
						$scope.imgUrl.push(previewuUrl);
						break;
					}
					if(rasterSize === 128){
						$scope.imgUrl.push(previewuUrl);
						break;
					}
					if(rasterSize === 64){
						$scope.imgUrl.push(previewuUrl);
						break;
					}
				}
			}
			$(".loader").hide();
		}
	})

</script>
</html>