<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
    <title>ดาวน์โหลดไอคอนหน้าจอ ไอคอนเฟส ฟรี!!</title>
    <meta name="description" content="เว็บแจกไอคอน มีไอคอนให้เลือกมากมาย ไม่ว่าจะเป็น ไอคอนหน้าจอ ไอคอนเฟส ไอคอนแฟ้มเอกสาร ไอคอนน่ารัก เป็นต้น และที่สำคัญ สามารถดาวน์โหลดได้ฟรีทุกอัน">
    <meta name="keywords" content="ไอคอน,ไอคอนเฟส,ไอคอนหน้าจอ,ไอคอน facebook,ไอคอนน่ารัก,ไอคอนน่ารักๆ,ไอคอนแอพ ">
    <meta property="og:title" content="ไอคอน">
    <meta property="og:site_name" content="ไอคอน">
    <meta property="og:url" content="http://freeicon.herokuapp.com/">
    <meta property="og:type" content="website">
    
<!--     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="./">
	        <img alt="Brand" src="img/logo.png" width="70" height="30">
	      </a>
	    </div>
	    <ul class="nav navbar-nav">
	    	<li class="active menuclick">
		    	<a href="./">
				    <span class="glyphicon icon-home"></span>
				    <span class="glyphicon menuLink"> HOME</span>
		    	</a>
	    	</li>
			<% include ./socialMenu %>
		    <% include ./WebsiteIcons %>
		    <li class="menuclick">
		    	<a href="./search">
			    	<span class="glyphicon icon-search"></span>
			    	<span class="glyphicon menuLink"> Search Icons</span>
			    </a>
		    </li>    
	    </ul>
	  </div>
	</nav>
	<div class="TextBox">
		<h1>เว็บสำหรับดคอนฟรี</h1>
	</div>
	<div class="mainAdvertis">
		<h1>Ads</h1>
	</div>
	<div class="IndexAds">
		asdasd
	</div>
</body>
<script type="text/javascript" src="./javascripts/angular.js"></script>
<script type="text/javascript" src="./javascripts/ScreenSize.js"></script>
<script>
	
</script>
<script type="text/javascript">
//change active menu when click
$(function() {
   $("li.menuclick").click(function() {
      // remove classes from all
      $("li.menuclick").removeClass("active");
      // add class to the one we clicked
      $(this).addClass("active");
   });
});
</script>
</html>