<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
<!--     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->
</head>
<body>
	<div class="container-fluid bg">
	    <div ng-app="FreeIcon">
	    	<h1 class="HeadText">ฟรีไอคอน</h1>
	    	<div ng-controller = "IconsController" class=""> <!--ng-init ="listIcon()"--> 
	    		<center>
	    		<div class="form-group">
				    <form>
                       <input type="text" class="search" ng-init ="listIcon()"ng-model="post.PostId" placeholder="Search..." required>
                       <span class="arrow">
                       <input type="button" class="button" ng-click="listIcon(post.PostId);" value="Search">
                   	   </span>
		            </form>
				</div>
				</center>
	   			<ul class = "item-list row col-centered col-md-offset-0">
					<li ng-repeat="data in datas" class="col-md-2 list" alt="ไอคอน เฟส">
						<a href="#" class="img-block" onclick="showImageInModal(this);" data-toggle="modal" data-target="#myModal">
							<img ng-src="{{data.imgUrl}}" alt="img01"class="img-center" onerror="imgError(this);" >
<!-- 							<h4 class="hideDataName">{{data.name}}</h4> -->
							<h4 class="dataLink" data-locations='{{data.linkDownloadPngFile}}'></h4>	
						</a>
					</li>
				</ul>
				<center><div class="loader"></div></center>
				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<!-- 				        <center><h4 class="modal-title" id="myModalLabel"></h4></center> -->
				      </div>
				      <div class="modal-body showImg">
				        <center><img class="mdImg" src=""></center>
				      </div>
				      <div class="modal-footer PNG">
				      	<button type="button" class="btn btn-success" data-dismiss="modal">PNG</button>
				        
				      </div>
				      <div class="modal-footer">
				      	<button type="button" class="btn btn-success" data-dismiss="modal">ICON</button>
				      
				      </div>
				    </div>
				  </div>
				</div>
	    	</div>
	    </div>
	 </div><!-- container -->
</body>
<script type="text/javascript" src="./javascripts/angular.js"></script>
<script>
	var app = angular.module("FreeIcon",[]);
	app.controller("IconsController",function($scope,$http){
		$scope.title = "Hello Webboard";
		$scope.Topics = [];
		$scope.datas = [];
		$scope.adding = [];
		var numberIcon = 1;
		var countShow = 1;
		var checkText = "";
		var linkDownloadPng = [];
		$(".loader").hide();
		$scope.listIcon = function(searchText){
			$scope.datas = [];
			countShow = 1;
			$scope.imgUrl = [];
			checkText = searchText;
			if(checkText == null ||checkText == undefined){
				checkText ="icon";
			}
			$(".loader").show();
			var url = "https://api.iconfinder.com/v2/icons/search?query="+checkText+"&count=30&premium=0";
			$http.get(url).success(function(data){
			placeData(data);
			var totalCount = $scope.Topics.total_count;
			var caculateTotalrang = Math.floor(totalCount/30);
			$(window).scroll(function(e) {
					if(numberIcon <= caculateTotalrang){
					    if($(window).scrollTop() >= $(document).height() - $(window).height()) {
					    	  $(".loader").show();
					          countShow = countShow +30;
					          console.log(countShow);			  
					          var url = "https://api.iconfinder.com/v2/icons/search?query="+checkText+"&count=30&premium=0&offset=";
					          url += ""+countShow;
					          //console.log(url);
					          $http.get(url).success(function(data){
								placeData(data);
							  }).error(function(error, status){
							  	console.log("Error"+error);
							  	console.log("Error"+status);
							  });
							  numberIcon++;
					    }
					}
				e.preventDefault();
			})
			if($scope.Topics.total_count == 0){
				alert("ไม่มี Icon ที่คุณตามหา");
			}

			}).error(function(data){
				location.reload();
			})
		}

		function placeData(data){
			$scope.Topics = data;
			for(var i = 0;i<$scope.Topics.icons.length;i++){
				if($scope.Topics.icons[i].containers[0] === undefined){
				   console.log(i);
				   break;
				}else{
					var downloadUrlIco = $scope.Topics.icons[i].containers[0].download_url;
					console.log(downloadUrlIco);
				}
				for(var j = 0;j<$scope.Topics.icons[i].raster_sizes.length;j++){
					var rasterSize = $scope.Topics.icons[i].raster_sizes[j].size_width;
					var previewuUrl = $scope.Topics.icons[i].raster_sizes[j].formats[0].preview_url;
					var iconName = $scope.Topics.icons[i].categories[0].name;
					var downloadUrlName = "https://api.iconfinder.com/v2";
					downloadUrlName += $scope.Topics.icons[i].raster_sizes[j].formats[0].download_url;
					linkDownloadPng.push(downloadUrlName);
					console.log(linkDownloadPng);
					if(previewuUrl){
						if(rasterSize === 512){
							getData(previewuUrl,iconName,linkDownloadPng);
							//console.log(linkDownloadPng);
							break;
						}
						if(rasterSize === 256){
							getData(previewuUrl,iconName,linkDownloadPng);
							//console.log(linkDownloadPng);
							break;
						}
						if(rasterSize === 128){
							getData(previewuUrl,iconName,linkDownloadPng);
							//console.log(linkDownloadPng);
							break;
						}
					}
				}
				//console.log("cut");
				linkDownloadPng = [];
			}
			//$scope.datas.Name.push($scope.Name);
			
			//console.log($scope.datas);
			$(".loader").hide();
		}
		function getData(previewuUrl,iconName,linkDownloadPng){
			//console.log(linkDownloadPng);
			$scope.datas.push({
								imgUrl:previewuUrl,
								name:iconName,
								linkDownloadPngFile:linkDownloadPng
							})
			//console.log($scope.datas);
		}
	})
	function imgError(image){
	 	// image.parent().remove();
	 	 event.stopPropagation();
    	 $(image).parent().parent().hide();
	}
	function showImageInModal(imageLink){
		var getImg = $(imageLink).children().attr("ng-src");
		var getName = $(imageLink).children().text();
		var getLink = $(imageLink).find(".dataLink").data('locations');
		console.log(getLink);
		var changToInt=[];
		var getSize = [];
		var joining;
		for(var i=0;i<getLink.length;i++){
			getSize = getLink[i].split("/");
			changToInt.push(parseInt(getSize[8]));
			console.log(getSize[8]);
		}
		var sorting = changToInt.sort(function(a, b){return a-b});

		for(var j = 0;j<sorting.length;j++){
			getSize[8] = ""+sorting[j];
			joining = getSize.join("/");

			$(".PNG").append("<a class=link href="+joining+"><button class='btn btn-primary'>"+sorting[j]+"px</button></a>");
		}
		
		$(".mdImg").attr("src",""+getImg+"");
		$("#myModalLabel").text(""+getName+"");
	}

	$('#myModal').on('hidden.bs.modal', function (e) {
  		$(".link").remove(".link");
	 })
</script>
<script type="text/javascript">
	(function($) {
    var $window = $(window),
        $col = $('ul');
        //console.log($window);
    function resize() {
        if ($window.width() <= 1280) {
        	$col.removeClass('col-md-offset-0');
            return $col.addClass('col-md-offset-1');
        }else{
        	$col.removeClass('col-md-offset-1');
            return $col.addClass('col-md-offset-0');
        }
    }
    $window
        .resize(resize)
        .trigger('resize');
})(jQuery);

</script>
</html>