<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
    <title>ดาวน์โหลดไอคอน ไอคอนเฟส ฟรี!! - www.ไอคอน.com</title>
    <meta name="description" content="เว็บแจกไอคอน มีไอคอนให้เลือกมากมาย ไม่ว่าจะเป็น ไอคอนหน้าจอ ไอคอนเฟส ไอคอนแฟ้มเอกสาร ไอคอนน่ารัก เป็นต้น และที่สำคัญ สามารถดาวน์โหลดได้ฟรีทุกอัน">
    <meta name="keywords" content="ไอคอน,ไอคอนเฟส,ไอคอนหน้าจอ,ไอคอน facebook,ไอคอนน่ารัก,ไอคอนน่ารักๆ,ไอคอนแอพ ">
    <meta property="og:title" content="ไอคอน">
    <meta property="og:site_name" content="ไอคอน">
    <meta property="og:url" content="http://freeicon.herokuapp.com/">
    <meta property="og:type" content="website">

    
<!--     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->
</head>
<body>
	<% include ./menuTemplate %>
	<div class="backmenu">
		
	</div>
	<div class="container setpadding">
		<% include ./banner %>
	</div>	
	<div class="container">
		<div class="row">
			<div class="col-lg-9 information">
				<section class="content">
					<div class="headContent">
						<h4>ไอคอนหลากหลายรูปแบบสำหรับใช้งานในด้านต่าง เช่น ตกแต่งเว็บไซต์ ตกแต่งหน้าจอ ทำพรีเซ้น หรือปริ้นมาตกแต่งงานต่างๆ มีหลายขนาดให้เลือก</h4>
					</div>
				</section>
				<section class="detail">
					<div class="col-md-4 col-sm-6">
						<h4 >ดาวน์โหลดฟรี</h4>
						<hr>
						<p>ไอคอนทั้งหมดสามารถดาวน์โหลดได้ฟรี และสามารถ Search หาข้อมูลโดยใช้ภาษาไทยได้</p>
					</div>
					<div class="col-md-4 col-sm-6">
						<h4>ลิขสิทธิ์</h4>
						<hr>
						<p>แต่ละรูปจะบอกชนิดของลิขสิทธิ์เอาไว้ว่าสามารถนำไปใช้ในด้านไหนได้บ้างหรือ ควรจะใช้อย่างไรถึงจะถูกลิขสิทธิ์</p>
					</div>
					<div class="col-md-4 col-sm-6">
						<h4>นามสกุลไฟล์</h4>
						<hr>
						<p>ไฟล์นามสกุล PNG, ICO และ SVG ซึ่งมีหน้าที่การทำงานต่างกัน<a href="./fileType"> อ่านเพิ่มเติม</a></p>
					</div>
					<div class="col-md-12 col-sm-12 thanksTo">
						<h4>ขอขอบคุณ</h4>
						<hr>
					</div>	
					<div class="col-md-4 col-sm-6">
						<h5><a href="http://www.webbastard.net">webbastard </a> ผู้ออกแบบเว็บไซต์และคำแนะนำดีๆ</h5>
					</div>
					<div class="col-md-4 col-sm-6">
						<h5><a href="https://www.iconfinder.com?ref=hern12">iconfinder </a> ศูนย์รวมไอคอนระดับคุณภาพ</h5>
					</div>		
				</section>
			</div>
			<div class="col-lg-3 setpaddingRight">
				<div class="SidexAds">
					<div class="CategoriesHead">
						<h4>Categories Check List</h4>
					</div>
					<ul>
						<li>
							<a href="./facebook">รวม Facebook Icon</a>
						</li>
						<li>
							<a href="./youtube">รวม Youtube Icon</a>
						</li>
						<li>
							<a href="./google">รวม Google Icon</a>
						</li>
						<li>
							<a href="./instagram">รวม Instagram Icon</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 setpaddingLeft">
				<div class="leftPopularSearch">
				    <div class="CategoriesHead">
						<h4>Popular Search</h4>
					</div>
						<ul>
							<li>
								<a href="./facebook">Facebook Icons</a>
							</li>
							<li>
								<a href="./Instagram">Instagram Icons</a>
							</li>
							<li>
								<a href="./twitter">Twitter Icons</a>
							</li>
							<li>
								<a href="./google">Google Icons</a>
							</li>
						</ul>
				</div>
			</div>
			<div class="col-lg-9 setpadding">
				<div class="mainAdvertis">
					<a href="https://www.iconfinder.com?ref=hern12">
						<img src="img/iconfinder-banner.png" width="877.33" height="170">
					</a>
				</div>
			</div>
			<div class="col-lg-3 setpaddingLeft">
				<div class="leftPopularDownload">
				    <div class="CategoriesHead">
						<h4>Popular Download</h4>
					</div>
						<ul class="row pupDownload">
						<li class="col-md-3 clearPadding">
							<a href="" class="img-block nonbox" onclick="showImageInModal(this);" data-toggle="modal" data-target="#myModal">
								<img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_color-128.png" href="" width="48" height="48">
								<h4 class="dataLink" data-locations="[&quot;https://api.iconfinder.com/v2/icons/107175/formats/png/16/download&quot;,&quot;https://api.iconfinder.com/v2/icons/107175/formats/png/20/download&quot;,&quot;https://api.iconfinder.com/v2/icons/107175/formats/png/24/download&quot;,&quot;https://api.iconfinder.com/v2/icons/107175/formats/png/32/download&quot;,&quot;https://api.iconfinder.com/v2/icons/107175/formats/png/64/download&quot;,&quot;https://api.iconfinder.com/v2/icons/107175/formats/png/48/download&quot;,&quot;https://api.iconfinder.com/v2/icons/107175/formats/png/128/download&quot;]"></h4>
								<h4 class="hideDataName icoLink ng-binding">https://api.iconfinder.com/v2/icons/107175/containers/ico/download</h4>
								<h4 class="hideDataName svgLink ng-binding">https://api.iconfinder.com/v2/icons/107175/formats/svg/229098/download</h4>
								<h4 class="hideDataName icoID ng-binding">107175</h4>
							</a>
						</li>
						<li class="col-md-3 clearPadding">
							<a href="" class="img-block nonbox" onclick="showImageInModal(this);" data-toggle="modal" data-target="#myModal">
								<img src="https://cdn3.iconfinder.com/data/icons/capsocial-round/500/twitter-128.png" href="" width="48" height="48">
								<h4 class="dataLink" data-locations="[&quot;https://api.iconfinder.com/v2/icons/834708/formats/png/16/download&quot;,&quot;https://api.iconfinder.com/v2/icons/834708/formats/png/20/download&quot;,&quot;https://api.iconfinder.com/v2/icons/834708/formats/png/24/download&quot;,&quot;https://api.iconfinder.com/v2/icons/834708/formats/png/32/download&quot;,&quot;https://api.iconfinder.com/v2/icons/834708/formats/png/64/download&quot;,&quot;https://api.iconfinder.com/v2/icons/834708/formats/png/48/download&quot;,&quot;https://api.iconfinder.com/v2/icons/834708/formats/png/128/download&quot;]"></h4>
								<h4 class="hideDataName icoLink ng-binding">https://api.iconfinder.com/v2/icons/834708/containers/ico/download</h4>
								<h4 class="hideDataName svgLink ng-binding">https://api.iconfinder.com/v2/icons/834708/formats/svg/1260659/download</h4>
								<h4 class="hideDataName icoID ng-binding">834708</h4>
							</a>
						</li>
						<li class="col-md-3 clearPadding">
							<a href="" class="img-block nonbox" onclick="showImageInModal(this);" data-toggle="modal" data-target="#myModal">
								<img src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2/128/social-circle-google-plus-2-128.png" href="" width="48" height="48">
								<h4 class="dataLink" data-locations="[&quot;https://api.iconfinder.com/v2/icons/682223/formats/png/16/download&quot;,&quot;https://api.iconfinder.com/v2/icons/682223/formats/png/20/download&quot;,&quot;https://api.iconfinder.com/v2/icons/682223/formats/png/24/download&quot;,&quot;https://api.iconfinder.com/v2/icons/682223/formats/png/32/download&quot;,&quot;https://api.iconfinder.com/v2/icons/682223/formats/png/64/download&quot;,&quot;https://api.iconfinder.com/v2/icons/682223/formats/png/48/download&quot;,&quot;https://api.iconfinder.com/v2/icons/682223/formats/png/128/download&quot;]"></h4>
								<h4 class="hideDataName icoLink ng-binding">https://api.iconfinder.com/v2/icons/682223/containers/ico/download</h4>
								<h4 class="hideDataName svgLink ng-binding">https://api.iconfinder.com/v2/icons/682223/formats/svg/1104243/download</h4>
								<h4 class="hideDataName icoID ng-binding">682223</h4>
							</a>
						</li>
						<li class="col-md-3 clearPadding">
							<a href="" class="img-block nonbox" onclick="showImageInModal(this);" data-toggle="modal" data-target="#myModal">
								<img src="https://cdn2.iconfinder.com/data/icons/social-icons-33/128/Instagram-128.png" href="" width="48" height="48">
								<h4 class="dataLink" data-locations="[&quot;https://api.iconfinder.com/v2/icons/1298747/formats/png/16/download&quot;,&quot;https://api.iconfinder.com/v2/icons/1298747/formats/png/20/download&quot;,&quot;https://api.iconfinder.com/v2/icons/1298747/formats/png/24/download&quot;,&quot;https://api.iconfinder.com/v2/icons/1298747/formats/png/32/download&quot;,&quot;https://api.iconfinder.com/v2/icons/1298747/formats/png/64/download&quot;,&quot;https://api.iconfinder.com/v2/icons/1298747/formats/png/48/download&quot;,&quot;https://api.iconfinder.com/v2/icons/1298747/formats/png/128/download&quot;]"></h4>
								<h4 class="hideDataName icoLink ng-binding">https://api.iconfinder.com/v2/icons/1298747/containers/ico/download</h4>
								<h4 class="hideDataName svgLink ng-binding">https://api.iconfinder.com/v2/icons/1298747/formats/svg/1738777/download</h4>
								<h4 class="hideDataName icoID ng-binding">1298747</h4>
							</a>
						</li>
						<li class="col-md-3 clearPadding">
							<a href="" class="img-block nonbox" onclick="showImageInModal(this);" data-toggle="modal" data-target="#myModal">
								<img src="https://cdn1.iconfinder.com/data/icons/smallicons-logotypes/32/chrome-128.png" href="" width="48" height="48">
								<h4 class="dataLink" data-locations="[&quot;https://api.iconfinder.com/v2/icons/245982/formats/png/16/download&quot;,&quot;https://api.iconfinder.com/v2/icons/245982/formats/png/20/download&quot;,&quot;https://api.iconfinder.com/v2/icons/245982/formats/png/24/download&quot;,&quot;https://api.iconfinder.com/v2/icons/245982/formats/png/32/download&quot;,&quot;https://api.iconfinder.com/v2/icons/245982/formats/png/64/download&quot;,&quot;https://api.iconfinder.com/v2/icons/245982/formats/png/48/download&quot;,&quot;https://api.iconfinder.com/v2/icons/245982/formats/png/128/download&quot;]"></h4>
								<h4 class="hideDataName icoLink ng-binding">https://api.iconfinder.com/v2/icons/245982/containers/ico/download</h4>
								<h4 class="hideDataName svgLink ng-binding">https://api.iconfinder.com/v2/icons/245982/formats/svg/614205/download</h4>
								<h4 class="hideDataName icoID ng-binding">245982</h4>
							</a>
						</li>
						<li class="col-md-3 clearPadding">
							<a href="" class="img-block nonbox" onclick="showImageInModal(this);" data-toggle="modal" data-target="#myModal">
								<img src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-instagram-new-square2-128.png" href="" width="48" height="48">
								<h4 class="dataLink" data-locations="[&quot;https://api.iconfinder.com/v2/icons/1164347/formats/png/16/download&quot;,&quot;https://api.iconfinder.com/v2/icons/1164347/formats/png/20/download&quot;,&quot;https://api.iconfinder.com/v2/icons/1164347/formats/png/24/download&quot;,&quot;https://api.iconfinder.com/v2/icons/1164347/formats/png/32/download&quot;,&quot;https://api.iconfinder.com/v2/icons/1164347/formats/png/64/download&quot;,&quot;https://api.iconfinder.com/v2/icons/1164347/formats/png/48/download&quot;,&quot;https://api.iconfinder.com/v2/icons/1164347/formats/png/128/download&quot;]"></h4>
								<h4 class="hideDataName icoLink ng-binding">https://api.iconfinder.com/v2/icons/1164347/containers/ico/download</h4>
								<h4 class="hideDataName svgLink ng-binding">https://api.iconfinder.com/v2/icons/1164347/formats/svg/1600427/download</h4>
								<h4 class="hideDataName icoID ng-binding">1164347</h4>
							</a>
						</li>
						<li class="col-md-3 clearPadding">
							<a href="" class="img-block nonbox" onclick="showImageInModal(this);" data-toggle="modal" data-target="#myModal">
								<img src="https://cdn4.iconfinder.com/data/icons/follow-me/256/blogger-128.png" href="" width="48" height="48">
								<h4 class="dataLink" data-locations="[&quot;https://api.iconfinder.com/v2/icons/202282/formats/png/16/download&quot;,&quot;https://api.iconfinder.com/v2/icons/202282/formats/png/20/download&quot;,&quot;https://api.iconfinder.com/v2/icons/202282/formats/png/24/download&quot;,&quot;https://api.iconfinder.com/v2/icons/202282/formats/png/32/download&quot;,&quot;https://api.iconfinder.com/v2/icons/202282/formats/png/64/download&quot;,&quot;https://api.iconfinder.com/v2/icons/202282/formats/png/48/download&quot;,&quot;https://api.iconfinder.com/v2/icons/202282/formats/png/128/download&quot;]"></h4>
								<h4 class="hideDataName icoLink ng-binding">https://api.iconfinder.com/v2/icons/202282/containers/ico/download</h4>
								<h4 class="hideDataName svgLink ng-binding">https://api.iconfinder.com/v2/icons/202282/formats/svg/549119/download</h4>
								<h4 class="hideDataName icoID ng-binding">202282</h4>
							</a>
						</li>
						<li class="col-md-3 clearPadding">
							<a href="" class="img-block nonbox" onclick="showImageInModal(this);" data-toggle="modal" data-target="#myModal">
								<img src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/linkedin-128.png" href="" width="48" height="48">
								<h4 class="dataLink" data-locations="[&quot;https://api.iconfinder.com/v2/icons/386655/formats/png/16/download&quot;,&quot;https://api.iconfinder.com/v2/icons/386655/formats/png/20/download&quot;,&quot;https://api.iconfinder.com/v2/icons/386655/formats/png/24/download&quot;,&quot;https://api.iconfinder.com/v2/icons/386655/formats/png/32/download&quot;,&quot;https://api.iconfinder.com/v2/icons/386655/formats/png/64/download&quot;,&quot;https://api.iconfinder.com/v2/icons/386655/formats/png/48/download&quot;,&quot;https://api.iconfinder.com/v2/icons/386655/formats/png/128/download&quot;]"></h4>
								<h4 class="hideDataName icoLink ng-binding">https://api.iconfinder.com/v2/icons/386655/containers/ico/download</h4>
								<h4 class="hideDataName svgLink ng-binding">https://api.iconfinder.com/v2/icons/386655/formats/svg/787453/download</h4>
								<h4 class="hideDataName icoID ng-binding">386655</h4>
							</a>
						</li>
					</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<!-- 				        <center><h4 class="modal-title" id="myModalLabel"></h4></center> -->
				      </div>
				      <div class="modal-body showImg">
				        <center><img class="mdImg" src=""></center>
				        <center><span><b>ประเภทของลิขสิทธิ์:</b></span><span><a class="licenseName"></a></span>
				        <br/>
				        <span class="visit"><b>เยี่ยมชมเว็บไซต์:</b></span><span><a class="webSiteName"></a></span></center>
				      </div>
				      <div class="modal-footer PNG">
				      	<div class="lpng" data-dismiss="modal">ไฟล์นามสกุล PNG</div>
				      </div>
				      <div class="modal-footer">
				      	<div class="lpng" data-dismiss="modal">ไฟล์นามสกุล ICO</div>
				      	<a href="" class="linktoIcon">
				      		<button class='btn btn-primary'>Download</button>
				      	</a>
				      </div>
				      <div class="modal-footer modalSvg">
				      	<div class="lpng" data-dismiss="modal">ไฟล์นามสกุล SVG</div>
				      	<a href="" class="linktoSvg">
				      		<button class='btn btn-primary'>Download</button>
				      	</a>
				      </div>
				    </div>
				  </div>
				</div>                                    
	<% include ./footer %>	
</body>

<script>
	function showImageInModal(imageLink) {
    var getImg1 = $(imageLink).find("img").attr("src");
    console.log(getImg1);
    //var getName = $(imageLink).children().text();
    var getLink = $(imageLink).find(".dataLink").data('locations');
    var getIconLink = $(imageLink).find(".icoLink").text();
    var getSvgLink = $(imageLink).find(".svgLink").text();
    if(getSvgLink == "https://api.iconfinder.com/v2"){
        $('.modalSvg').hide();
    }else{
         $('.modalSvg').show();
         $('.linktoSvg').attr('href',''+ getSvgLink);
    }
    var getIconId = $(imageLink).find(".icoID").text();
    getLicense(getIconId);
    var changToInt = [];
    var getSize = [];
    var joining;
    for (var i = 0; i < getLink.length; i++) {
        getSize = getLink[i].split("/");
        changToInt.push(parseInt(getSize[8]));
        //console.log(getSize[8]);
    }
    var sorting = changToInt.sort(function(a, b) {
        return a - b
    });

    for (var j = 0; j < sorting.length; j++) {
        getSize[8] = "" + sorting[j];
        joining = getSize.join("/");

        $(".PNG").append("<a class=link href=" + joining + "><button class='btn btn-primary'>" + sorting[j] + "px</button></a>");
    }

    //$(".mdImg").attr("src", "" + getImg + "");
    if(getImg1){
        $(".mdImg").attr("src",""+getImg1+"");
    }
    //$("#myModalLabel").text(""+getName+"");
    $('.linktoIcon').attr('href', '' + getIconLink);

}
function getLicense(getIconId){
    var url = "https://api.iconfinder.com/v2/icons/"+getIconId;
    $.ajax({
      method: "GET",
      url: url,
    })
    .done(function( data ) {
        var iconLicense = data.iconset.license.name;
        var getIconWeb = data.iconset.website_url;
        console.log(getIconWeb);
        if(getIconWeb != undefined){
            $('.visit').show();
            $('.webSiteName').unbind('click');
            $('.webSiteName').text(getIconWeb).click(function(){
                    window.open(getIconWeb);
            });;
        }else if(getIconWeb == undefined){
             $('.webSiteName').text("");
             $('.visit').hide();
        }



        if(iconLicense == "Creative Commons (Attribution 3.0 Unported)"){
             $(".licenseName").unbind('click');
             $(".licenseName").text(iconLicense);
             $(".licenseName").css('color','#00B7FF').click(function(){
                window.open("https://creativecommons.org/licenses/by/3.0/");
             });
             return false;
        }if(iconLicense == "Free for commercial use"){
            $(".licenseName").unbind('click');
            $(".licenseName").text("สามารถใช้ในเชิงพาณิชย์ (เชิงการค้า)");
            $(".licenseName").attr('href','javascript:void(0)').css('color','black');
            return false;
        }if(iconLicense == "Creative Commons (Attribution-Share Alike 3.0 Unported)"){
             $(".licenseName").unbind('click');
             $(".licenseName").text(iconLicense);
             $(".licenseName").css('color','#00B7FF').click(function(){
                window.open("https://creativecommons.org/licenses/by-sa/3.0/");
             });
             return false;
        }if(iconLicense == "Creative Commons (Attribution-Share Alike 3.0 Unported)"){
             $(".licenseName").unbind('click');
             $(".licenseName").text("สามารถใช้ในเชิงพาณิชย์(ห้ามนำไปขายหรือแจกจ่าย)");
             $(".licenseName").attr('href','javascript:void(0)').css('color','black');
             return false;
        }if(iconLicense == "Free for personal use only"){
             $(".licenseName").unbind('click');
             $(".licenseName").text("ใช้ได้โดยไม่เกี่ยวข้องกับการค้า");
             $(".licenseName").attr('href','javascript:void(0)').css('color','black');
             return false;
        }if(iconLicense == "Creative Commons (Attribution 2.5 Generic)"){
             $(".licenseName").unbind('click');
             $(".licenseName").text(iconLicense);
             $(".licenseName").css('color','#00B7FF').click(function(){
                window.open("https://creativecommons.org/licenses/by-sa/3.0/");
             });
             return false;
        }if(iconLicense == "Free for commercial use (Include link to authors website)"){
             $(".licenseName").unbind('click');
             $(".licenseName").text(iconLicense);
             $(".licenseName").attr('href','javascript:void(0)').css('color','black');
             return false;
        }if(iconLicense == "Free for commercial use (Include link to package)"){
             $(".licenseName").unbind('click');
             $(".licenseName").text(iconLicense);
             $(".licenseName").attr('href','javascript:void(0)').css('color','black');
             return false;
        }if(iconLicense == "Creative Commons Attribution-No Derivative Works 3.0 Unported"){
             $(".licenseName").unbind('click');
             $(".licenseName").text(iconLicense);
             $(".licenseName").css('color','#00B7FF').click(function(){
                window.open("https://creativecommons.org/licenses/by-nd/3.0/");
             });
             return false;
        }if(iconLicense == "GPL"){
             $(".licenseName").unbind('click');
             $(".licenseName").text(iconLicense);
             $(".licenseName").css('color','#00B7FF').click(function(){
                window.open("http://www.gnu.org/copyleft/gpl.html");
             });
             return false;
        }if(iconLicense == "Creative Commons Attribution 2.5 Denmark"){
             $(".licenseName").unbind('click');
             $(".licenseName").text(iconLicense);
             $(".licenseName").css('color','#00B7FF').click(function(){
                window.open("https://creativecommons.org/licenses/by/2.5/dk/deed.en");
             });
             return false;
        }if(iconLicense == "Free for commercial use (Email author for permission: buz@icondrawer.com)"){
            $(".licenseName").unbind('click');
            $(".licenseName").text(iconLicense);
            $(".licenseName").css('color','#00B7FF');
        }if(iconLicense == "Public Domain"){
            $(".licenseName").unbind('click');
            $(".licenseName").text(iconLicense);
            $(".licenseName").attr('href','javascript:void(0)').css('color','black');
        }if(iconLicense == "Creative Commons (Attribution 3.0 United States)"){
            $(".licenseName").unbind('click');
            $(".licenseName").text(iconLicense);
            $(".licenseName").css('color','#00B7FF').click(function(){
                window.open("http://creativecommons.org/licenses/by/3.0/us/");
            });
            return false;
        }if(iconLicense == "Creative Commons Attribution 3.0 Unported (CC BY 3.0)"){
            $(".licenseName").unbind('click');
            $(".licenseName").text(iconLicense);
            $(".licenseName").css('color','#00B7FF').click(function(){
                window.open("https://creativecommons.org/licenses/by/3.0/");
            });
            return false;
        }if(iconLicense == "Free for commercial use (Do not resell)"){
            $(".licenseName").unbind('click');
            $(".licenseName").text(iconLicense);
            $(".licenseName").attr('href','javascript:void(0)').css('color','black');
            return false;
        }if(iconLicense == "Free for commercial use (Restrictions apply - read license)"){
            $(".licenseName").unbind('click');
            $(".licenseName").text(iconLicense);
            $(".licenseName").attr('href','javascript:void(0)').css('color','black');
            return false;
        }if(iconLicense == "Free for commercial use (Redistribute with this license)"){
            $(".licenseName").unbind('click');
            $(".licenseName").text(iconLicense);
            $(".licenseName").attr('href','javascript:void(0)').css('color','black');
            return false;
        }if (iconLicense == "Free for commercial use (Email author for permission)") {
            $(".licenseName").unbind('click');
            $(".licenseName").text(iconLicense);
            $(".licenseName").css('color','#00B7FF');
            return false;
        }if(iconLicense == "Free for commercial use (Click here to read license)"){
            $(".licenseName").unbind('click');
            $(".licenseName").text("Free for commercial use");
            $(".licenseName").css('color','#black');
            return false;
        }if(iconLicense == "Free for commercial use (Attribute author as specified in license)"){
            $(".licenseName").unbind('click');
            $(".licenseName").text(iconLicense);
            $(".licenseName").css('color','black');
            return false;
        }if(iconLicense =="Free for commercial use (Contact author for permission)"){
            $(".licenseName").unbind('click');
            $(".licenseName").text(iconLicense);
            $(".licenseName").css('color','black');
            return false;
        }if(iconLicense == "MIT License"){
            $(".licenseName").unbind('click');
            $(".licenseName").text(iconLicense);
            $(".licenseName").css('color','#00B7FF').click(function(){
                window.open("http://opensource.org/licenses/MIT");
            });
            return false;
        }if(iconLicense == "LGPL"){
            $(".licenseName").unbind('click');
            $(".licenseName").text(iconLicense);
            $(".licenseName").css('color','#00B7FF').click(function(){
                window.open("http://www.gnu.org/licenses/lgpl.html");
            });
            return false;
        }if(iconLicense == "Creative Commons Attribution-Share Alike 3.0 Unported License"){
            $(".licenseName").unbind('click');
            $(".licenseName").text(iconLicense);
            $(".licenseName").css('color','#00B7FF').click(function(){
                window.open("https://creativecommons.org/licenses/by-sa/3.0/");
            });
            return false; 
        }if(iconLicense == "Free Art License"){
            $(".licenseName").unbind('click');
            $(".licenseName").text(iconLicense);
            $(".licenseName").css('color','#00B7FF').click(function(){
                window.open("http://artlibre.org/licence/lal/en/");
            });
            return false; 
        }
        
    });
}
$('#myModal').on('hidden.bs.modal', function(e) {
    $(".link").remove(".link");
})

</script>
<script type="text/javascript">
//change active menu when click
$(function() {
   $("li.menuclick").click(function() {
      // remove classes from all
      $("li.menuclick").removeClass("active");
      // add class to the one we clicked
      $(this).addClass("active");
   });
});
</script>
</html>