	<div class="">
	    <div ng-app="FreeIcon">
	    	<div class="spacing"></div>
	    	<div ng-init ="listIcon()" ng-controller = "IconsController" class="">
	    	<div  class="col-lg-9 setpadding setAds">
	   			<ul class = "item-list"> 
	   				<li dir-paginate="data in datas | itemsPerPage: 35" class="col-xs-1 list" >
	   					<a href="#" class="img-block" onclick="showImageInModal(this);" data-toggle="modal" data-target="#myModal" >
	   						<img ng-src="{{data.imgUrl}}" alt="img01" class="img-center" onerror="imgError(this);" >
	   						<h4 class="dataLink" data-locations='{{data.linkDownloadPngFile}}'></h4>
							<h4 class="hideDataName icoLink">{{data.icoLink}}</h4>
							<h4 class="hideDataName svgLink">{{data.linkDownloadSvg}}</h4>
							<h4 class="hideDataName icoID">{{data.saveIconId}}</h4>
	   					</a>
	   				</li>
	   			<center>
	   			<div class="col-md-12">
			 		<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="./javascripts/dirPagination.tpl.html" max-size="7"></dir-pagination-controls>
			 	</div>
			 	</center>
				</ul>
			</div>
			<div class="col-lg-3 setpaddingRight">
				<div class="SidexAds">
					<div class="CategoriesHead">
						<h4>Categories Check List</h4>
					</div>
					<ul>
						<li>
							<a href="./facebook">รวม Facebook Icon</a>
						</li>
						<li>
							<a href="./twitter">รวม Twitter Icon</a>
						</li>
						<li>
							<a href="./google">รวม Google Icon</a>
						</li>
						<li>
							<a href="/Instagram">รวม Instagram Icon</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 setpaddingLeft">
				<div class="leftPopularSearch">
				    <div class="CategoriesHead">
						<h4>Popular Search</h4>
					</div>
						<ul>
							<li>
								<a href="./facebook">Facebook Icons</a>
							</li>
							<li>
								<a href="./Instagram">Instagram Icons</a>
							</li>
							<li>
								<a href="./twitter">Twitter Icons</a>
							</li>
							<li>
								<a href="./google">Google Icons</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-3 setpaddingLeft">
				<div class="leftPopularDownload">
				    <div class="CategoriesHead">
						<h4>Popular Download</h4>
					</div>
					<ul class="row pupDownload">
						<li class="col-md-3 clearPadding">
							<a href="" class="img-block nonbox" onclick="showImageInModal(this);" data-toggle="modal" data-target="#myModal">
								<img ng-src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_color-128.png" href="" width="48" height="48">
								<h4 class="dataLink" data-locations="[&quot;https://api.iconfinder.com/v2/icons/107175/formats/png/16/download&quot;,&quot;https://api.iconfinder.com/v2/icons/107175/formats/png/20/download&quot;,&quot;https://api.iconfinder.com/v2/icons/107175/formats/png/24/download&quot;,&quot;https://api.iconfinder.com/v2/icons/107175/formats/png/32/download&quot;,&quot;https://api.iconfinder.com/v2/icons/107175/formats/png/64/download&quot;,&quot;https://api.iconfinder.com/v2/icons/107175/formats/png/48/download&quot;,&quot;https://api.iconfinder.com/v2/icons/107175/formats/png/128/download&quot;]"></h4>
								<h4 class="hideDataName icoLink ng-binding">https://api.iconfinder.com/v2/icons/107175/containers/ico/download</h4>
								<h4 class="hideDataName svgLink ng-binding">https://api.iconfinder.com/v2/icons/107175/formats/svg/229098/download</h4>
								<h4 class="hideDataName icoID ng-binding">107175</h4>
							</a>
						</li>
						<li class="col-md-3 clearPadding">
							<a href="" class="img-block nonbox" onclick="showImageInModal(this);" data-toggle="modal" data-target="#myModal">
								<img ng-src="https://cdn3.iconfinder.com/data/icons/capsocial-round/500/twitter-128.png" href="" width="48" height="48">
								<h4 class="dataLink" data-locations="[&quot;https://api.iconfinder.com/v2/icons/834708/formats/png/16/download&quot;,&quot;https://api.iconfinder.com/v2/icons/834708/formats/png/20/download&quot;,&quot;https://api.iconfinder.com/v2/icons/834708/formats/png/24/download&quot;,&quot;https://api.iconfinder.com/v2/icons/834708/formats/png/32/download&quot;,&quot;https://api.iconfinder.com/v2/icons/834708/formats/png/64/download&quot;,&quot;https://api.iconfinder.com/v2/icons/834708/formats/png/48/download&quot;,&quot;https://api.iconfinder.com/v2/icons/834708/formats/png/128/download&quot;]"></h4>
								<h4 class="hideDataName icoLink ng-binding">https://api.iconfinder.com/v2/icons/834708/containers/ico/download</h4>
								<h4 class="hideDataName svgLink ng-binding">https://api.iconfinder.com/v2/icons/834708/formats/svg/1260659/download</h4>
								<h4 class="hideDataName icoID ng-binding">834708</h4>
							</a>
						</li>
						<li class="col-md-3 clearPadding">
							<a href="" class="img-block nonbox" onclick="showImageInModal(this);" data-toggle="modal" data-target="#myModal">
								<img ng-src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2/128/social-circle-google-plus-2-128.png" href="" width="48" height="48">
								<h4 class="dataLink" data-locations="[&quot;https://api.iconfinder.com/v2/icons/682223/formats/png/16/download&quot;,&quot;https://api.iconfinder.com/v2/icons/682223/formats/png/20/download&quot;,&quot;https://api.iconfinder.com/v2/icons/682223/formats/png/24/download&quot;,&quot;https://api.iconfinder.com/v2/icons/682223/formats/png/32/download&quot;,&quot;https://api.iconfinder.com/v2/icons/682223/formats/png/64/download&quot;,&quot;https://api.iconfinder.com/v2/icons/682223/formats/png/48/download&quot;,&quot;https://api.iconfinder.com/v2/icons/682223/formats/png/128/download&quot;]"></h4>
								<h4 class="hideDataName icoLink ng-binding">https://api.iconfinder.com/v2/icons/682223/containers/ico/download</h4>
								<h4 class="hideDataName svgLink ng-binding">https://api.iconfinder.com/v2/icons/682223/formats/svg/1104243/download</h4>
								<h4 class="hideDataName icoID ng-binding">682223</h4>
							</a>
						</li>
						<li class="col-md-3 clearPadding">
							<a href="" class="img-block nonbox" onclick="showImageInModal(this);" data-toggle="modal" data-target="#myModal">
								<img ng-src="https://cdn2.iconfinder.com/data/icons/social-icons-33/128/Instagram-128.png" href="" width="48" height="48">
								<h4 class="dataLink" data-locations="[&quot;https://api.iconfinder.com/v2/icons/1298747/formats/png/16/download&quot;,&quot;https://api.iconfinder.com/v2/icons/1298747/formats/png/20/download&quot;,&quot;https://api.iconfinder.com/v2/icons/1298747/formats/png/24/download&quot;,&quot;https://api.iconfinder.com/v2/icons/1298747/formats/png/32/download&quot;,&quot;https://api.iconfinder.com/v2/icons/1298747/formats/png/64/download&quot;,&quot;https://api.iconfinder.com/v2/icons/1298747/formats/png/48/download&quot;,&quot;https://api.iconfinder.com/v2/icons/1298747/formats/png/128/download&quot;]"></h4>
								<h4 class="hideDataName icoLink ng-binding">https://api.iconfinder.com/v2/icons/1298747/containers/ico/download</h4>
								<h4 class="hideDataName svgLink ng-binding">https://api.iconfinder.com/v2/icons/1298747/formats/svg/1738777/download</h4>
								<h4 class="hideDataName icoID ng-binding">1298747</h4>
							</a>
						</li>
						<li class="col-md-3 clearPadding">
							<a href="" class="img-block nonbox" onclick="showImageInModal(this);" data-toggle="modal" data-target="#myModal">
								<img ng-src="https://cdn1.iconfinder.com/data/icons/smallicons-logotypes/32/chrome-128.png" href="" width="48" height="48">
								<h4 class="dataLink" data-locations="[&quot;https://api.iconfinder.com/v2/icons/245982/formats/png/16/download&quot;,&quot;https://api.iconfinder.com/v2/icons/245982/formats/png/20/download&quot;,&quot;https://api.iconfinder.com/v2/icons/245982/formats/png/24/download&quot;,&quot;https://api.iconfinder.com/v2/icons/245982/formats/png/32/download&quot;,&quot;https://api.iconfinder.com/v2/icons/245982/formats/png/64/download&quot;,&quot;https://api.iconfinder.com/v2/icons/245982/formats/png/48/download&quot;,&quot;https://api.iconfinder.com/v2/icons/245982/formats/png/128/download&quot;]"></h4>
								<h4 class="hideDataName icoLink ng-binding">https://api.iconfinder.com/v2/icons/245982/containers/ico/download</h4>
								<h4 class="hideDataName svgLink ng-binding">https://api.iconfinder.com/v2/icons/245982/formats/svg/614205/download</h4>
								<h4 class="hideDataName icoID ng-binding">245982</h4>
							</a>
						</li>
						<li class="col-md-3 clearPadding">
							<a href="" class="img-block nonbox" onclick="showImageInModal(this);" data-toggle="modal" data-target="#myModal">
								<img ng-src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-instagram-new-square2-128.png" href="" width="48" height="48">
								<h4 class="dataLink" data-locations="[&quot;https://api.iconfinder.com/v2/icons/1164347/formats/png/16/download&quot;,&quot;https://api.iconfinder.com/v2/icons/1164347/formats/png/20/download&quot;,&quot;https://api.iconfinder.com/v2/icons/1164347/formats/png/24/download&quot;,&quot;https://api.iconfinder.com/v2/icons/1164347/formats/png/32/download&quot;,&quot;https://api.iconfinder.com/v2/icons/1164347/formats/png/64/download&quot;,&quot;https://api.iconfinder.com/v2/icons/1164347/formats/png/48/download&quot;,&quot;https://api.iconfinder.com/v2/icons/1164347/formats/png/128/download&quot;]"></h4>
								<h4 class="hideDataName icoLink ng-binding">https://api.iconfinder.com/v2/icons/1164347/containers/ico/download</h4>
								<h4 class="hideDataName svgLink ng-binding">https://api.iconfinder.com/v2/icons/1164347/formats/svg/1600427/download</h4>
								<h4 class="hideDataName icoID ng-binding">1164347</h4>
							</a>
						</li>
						<li class="col-md-3 clearPadding">
							<a href="" class="img-block nonbox" onclick="showImageInModal(this);" data-toggle="modal" data-target="#myModal">
								<img ng-src="https://cdn4.iconfinder.com/data/icons/follow-me/256/blogger-128.png" href="" width="48" height="48">
								<h4 class="dataLink" data-locations="[&quot;https://api.iconfinder.com/v2/icons/202282/formats/png/16/download&quot;,&quot;https://api.iconfinder.com/v2/icons/202282/formats/png/20/download&quot;,&quot;https://api.iconfinder.com/v2/icons/202282/formats/png/24/download&quot;,&quot;https://api.iconfinder.com/v2/icons/202282/formats/png/32/download&quot;,&quot;https://api.iconfinder.com/v2/icons/202282/formats/png/64/download&quot;,&quot;https://api.iconfinder.com/v2/icons/202282/formats/png/48/download&quot;,&quot;https://api.iconfinder.com/v2/icons/202282/formats/png/128/download&quot;]"></h4>
								<h4 class="hideDataName icoLink ng-binding">https://api.iconfinder.com/v2/icons/202282/containers/ico/download</h4>
								<h4 class="hideDataName svgLink ng-binding">https://api.iconfinder.com/v2/icons/202282/formats/svg/549119/download</h4>
								<h4 class="hideDataName icoID ng-binding">202282</h4>
							</a>
						</li>
						<li class="col-md-3 clearPadding">
							<a href="" class="img-block nonbox" onclick="showImageInModal(this);" data-toggle="modal" data-target="#myModal">
								<img ng-src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/linkedin-128.png" href="" width="48" height="48">
								<h4 class="dataLink" data-locations="[&quot;https://api.iconfinder.com/v2/icons/386655/formats/png/16/download&quot;,&quot;https://api.iconfinder.com/v2/icons/386655/formats/png/20/download&quot;,&quot;https://api.iconfinder.com/v2/icons/386655/formats/png/24/download&quot;,&quot;https://api.iconfinder.com/v2/icons/386655/formats/png/32/download&quot;,&quot;https://api.iconfinder.com/v2/icons/386655/formats/png/64/download&quot;,&quot;https://api.iconfinder.com/v2/icons/386655/formats/png/48/download&quot;,&quot;https://api.iconfinder.com/v2/icons/386655/formats/png/128/download&quot;]"></h4>
								<h4 class="hideDataName icoLink ng-binding">https://api.iconfinder.com/v2/icons/386655/containers/ico/download</h4>
								<h4 class="hideDataName svgLink ng-binding">https://api.iconfinder.com/v2/icons/386655/formats/svg/787453/download</h4>
								<h4 class="hideDataName icoID ng-binding">386655</h4>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-9 setpadding">
				<div class="mainAdvertis">
					<h1></h1>
				</div>
			</div>
			<center>
				<div class="col-lg-12 stloader">
					<div class="loader"></div>
					<h1>กำลังโหลดข้อมูล...</h1>
				</div>			
			</center>
				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<!-- 				        <center><h4 class="modal-title" id="myModalLabel"></h4></center> -->
				      </div>
				      <div class="modal-body showImg">
				        <center><img class="mdImg" src=""></center>
				        <center><span><b>ประเภทของลิขสิทธิ์:</b></span><span><a class="licenseName"></a></span>
				        <br/>
				        <span class="visit"><b>เยี่ยมชมเว็บไซต์:</b></span><span><a class="webSiteName"></a></span></center>
				      </div>
				      <div class="modal-footer PNG">
				      	<div class="lpng" data-dismiss="modal">ไฟล์นามสกุล PNG</div>
				      </div>
				      <div class="modal-footer">
				      	<div class="lpng" data-dismiss="modal">ไฟล์นามสกุล ICO</div>
				      	<a href="" class="linktoIcon">
				      		<button class='btn btn-primary'>Download</button>
				      	</a>
				      </div>
				      <div class="modal-footer modalSvg">
				      	<div class="lpng" data-dismiss="modal">ไฟล์นามสกุล SVG</div>
				      	<a href="" class="linktoSvg">
				      		<button class='btn btn-primary'>Download</button>
				      	</a>
				      </div>
				    </div>
				  </div>
				</div>
	    	</div>
	    </div>
	 </div><!-- container -->
   