<header>
 	<div class="container">
 		<div class="row">
 			<a class="navbar-brand" href="./">
		        <img alt="Brand" src="img/logo.png" width="140" height="60">
		    </a>
 		</div>
 	</div>
</header>
<div class="container">
	<nav class="navbar navbar-default head nav" id="">
		  <div class="container setpadding">
		    <ul class="nav navbar-nav">
		    	<li class="active menuclick home">
			    	<a href="./">
					    <span class="glyphicon icon-home"></span>
					    <span class="glyphicon menuLink"> HOME</span>
			    	</a>
		    	</li>
				<% include ./socialMenu %>
			    <% include ./WebsiteIcons %>
			    <li class="menuclick menuSearch">
			    	<a href="./search">
				    	<span class="glyphicon icon-search"></span>
				    	<span class="glyphicon menuLink"> Search Icons</span>
				    </a>
			    </li class="menuclick">
			    <li class="menuclick comment">
			    	<a href="./comment">
				    	<span class="glyphicon icon-chat"></span>
				    	<span class="glyphicon menuLink"> แนะนำติชม</span>
				    </a>
			    </li>
		    </ul>
		  </div>
	</nav>
</div>
<script>
	// $('.nav').affix({
 //      offset: {
 //        top: $('header').height()
 //      }
	// });	
</script>
<script>
	var pathname = window.location.pathname;
	if(pathname == "/search"){
	  $("li.menuclick").removeClass("active");
      // add class to the one we clicked
      $(".menuSearch").addClass("active");
	}else if(pathname == "/facebook"){
	  window.iconValname = "facebook";
	  $("li.menuclick").removeClass("active");
      // add class to the one we clicked
      $(".menuSocial").addClass("active");
	}else if(pathname == "/twitter"){
	  window.iconValname = "twitter";
	  $("li.menuclick").removeClass("active");
      // add class to the one we clicked
      $(".menuSocial").addClass("active");
	}else if(pathname == "/instagram"){
	  window.iconValname = "instagram";
	  $("li.menuclick").removeClass("active");
      // add class to the one we clicked
      $(".menuSocial").addClass("active");
	}else if(pathname == "/google"){
	  window.iconValname = "google";
	  $("li.menuclick").removeClass("active");
      // add class to the one we clicked
      $(".menuSocial").addClass("active");
	}else if(pathname == "/in"){
	  window.iconValname = "in";
	  $("li.menuclick").removeClass("active");
      // add class to the one we clicked
      $(".menuSocial").addClass("active");
	}else if(pathname == "/blog"){
	  window.iconValname = "blog";
	  $("li.menuclick").removeClass("active");
      // add class to the one we clicked
      $(".menuSocial").addClass("active");
	}else if(pathname == "/windows"){
	  window.iconValname = "windows";
	  $("li.menuclick").removeClass("active");
      // add class to the one we clicked
      $(".menuWeb").addClass("active");
	}else if(pathname == "/ios"){
	  window.iconValname = "ios";
	  $("li.menuclick").removeClass("active");
      // add class to the one we clicked
      $(".menuWeb").addClass("active");
	}else if(pathname == "/android"){
	  window.iconValname = "android";
	  $("li.menuclick").removeClass("active");
      // add class to the one we clicked
      $(".menuWeb").addClass("active");
	}else if(pathname == "/computer"){
	  window.iconValname = "computer";
	  $("li.menuclick").removeClass("active");
      // add class to the one we clicked
      $(".menuWeb").addClass("active");
	}else if(pathname == "/iphone"){
	  window.iconValname = "iphone";
	  $("li.menuclick").removeClass("active");
      // add class to the one we clicked
      $(".menuWeb").addClass("active");
	}else if(pathname == "/printer"){
	  window.iconValname = "printer";
	  $("li.menuclick").removeClass("active");
      // add class to the one we clicked
      $(".menuWeb").addClass("active");
	}else if(pathname == "/camera"){
	  window.iconValname = "camera";
	  $("li.menuclick").removeClass("active");
      // add class to the one we clicked
      $(".menuWeb").addClass("active");
	}else if(pathname == "/comment"){
	  $("li.menuclick").removeClass("active");
      // add class to the one we clicked
      $(".comment").addClass("active");
	}
</script>