<li class="dropdown menuclick menuSocial">
	<a href="" class="dropdown-toggle dp" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		<span class="glyphicon icon-facebook-squared"></span>
		<span class="glyphicon menuLink"> Social Icon</span>
		<span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
		<li><a href="./facebook">Facebook</a></li>
		<li><a href="./twitter">Twitter</a></li>
		<li><a href="./instagram">Instagram</a></li>
		<li><a href="./google">Google</a></li>
		<li><a href="./in">in</a></li>
		<li><a href="./blog">blog</a></li>
     </ul>
</li>
<script type="text/javascript">
	$('.menuSocial .dp').click(function(){return false;});
</script>