<li class="dropdown menuclick">
	<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		<span class="glyphicon icon-facebook-squared"></span>
		<span class="glyphicon menuLink"> Social Icon</span>
		<span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
		<li><a href="#">Facebook</a></li>
		<li><a href="#">Twitter</a></li>
		<li><a href="#">Instagram</a></li>
		<li><a href="#">Google</a></li>
		<li><a href="#">in</a></li>
		<li><a href="#">blog</a></li>
     </ul>
</li>
