<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
    <title><%=  pageTitle %></title>
    <meta name="description" content="เว็บแจกไอคอน มีไอคอนให้เลือกมากมาย ไม่ว่าจะเป็น ไอคอนหน้าจอ ไอคอนเฟส ไอคอนแฟ้มเอกสาร ไอคอนน่ารัก เป็นต้น และที่สำคัญ สามารถดาวน์โหลดได้ฟรีทุกอัน">
    <meta name="keywords" content="ไอคอน,ไอคอนเฟส,ไอคอนหน้าจอ,ไอคอน facebook,ไอคอนน่ารัก,ไอคอนน่ารักๆ,ไอคอนแอพ ">
    <meta property="og:title" content="ไอคอน">
    <meta property="og:site_name" content="ไอคอน">
    <meta property="og:url" content="http://freeicon.herokuapp.com/">
    <meta property="og:type" content="website">
    
<!--     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MSHMVB8"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
	<% include ./menuTemplate %>
	<div class="backmenu">
		
	</div>
    <div class="container">
    	<% include ./banner %>
    	<% include ./loadData %>
    </div>
	<% include ./footer %>	
</body>
<script type="text/javascript" src="./javascripts/getIcon.js"></script>
</html>