<li class="dropdown menuclick webIcon menuWeb">
 	<a href="" class="dropdown-toggle dp" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
 		<span class="glyphicon icon-desktop"></span>
		<span class="glyphicon menuLink"> Website Icons</span>
		<span class="caret"></span>
	</a>
	<ul class="dropdown-menu weblist">
		<li class="dropdown-submenu os">
			<a class="test" tabindex="-1" href="#"> Operating System Icons<span class="right-caret"></span></a>
			<ul class="dropdown-menu osList">
		        <li><a tabindex="-1" href="./windows">Window</a></li>
		        <li><a tabindex="-1" href="./ios">IOS</a></li>
		        <li><a tabindex="-1" href="./android">Android</a></li>
		    </ul>
		</li>
		<li class="dropdown-submenu device">
			<a class="test" tabindex="-1" href="#"> Device Icons<span class="right-caret"></span></a>
			<ul class="dropdown-menu deviceList">
		        <li><a tabindex="-1" href="./computer">Computer</a></li>
		        <li><a tabindex="-1" href="./iphone">Iphone</a></li>
		        <li><a tabindex="-1" href="./printer">Printer</a></li>
		        <li><a tabindex="-1" href="./camera">Camera</a></li>
		    </ul>
		</li>	
	</ul>
</li>
<script>
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    $('.dropdown-submenu a.test').not($(this)).each(function(){
        $(this).next("ul").hide();
        $(this).next("ul").css('display','none');
    });
    e.stopPropagation();
    e.preventDefault();
  });
});
</script>
<script type="text/javascript">
	$('.menuWeb .dp').click(function(){return false;});
</script>
