<li class="dropdown menuclick">
 	<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
 		<span class="glyphicon icon-desktop"></span>
		<span class="glyphicon menuLink"> Website Icons</span>
		<span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
		<li class="dropdown-submenu">
			<a class="test" tabindex="-1" href="#"> Operating System Icons<span class="right-caret"></span></a>
			<ul class="dropdown-menu">
		        <li><a tabindex="-1" href="#">Window</a></li>
		        <li><a tabindex="-1" href="#">IOS</a></li>
		        <li><a tabindex="-1" href="#">Android</a></li>
		    </ul>
		</li>
		<li class="dropdown-submenu">
			<a class="test" tabindex="-1" href="#"> Device Icons<span class="right-caret"></span></a>
			<ul class="dropdown-menu">
		        <li><a tabindex="-1" href="#">Computer</a></li>
		        <li><a tabindex="-1" href="#">Iphone</a></li>
		        <li><a tabindex="-1" href="#">Printer</a></li>
		        <li><a tabindex="-1" href="#">Camera</a></li>
		    </ul>
		</li>	
	</ul>
</li>
<script>
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    $('.dropdown-submenu a.test').not($(this)).each(function(){
        $(this).next("ul").hide();
        $(this).next("ul").css('display','none');
    });
    e.stopPropagation();
    e.preventDefault();
  });
});
</script>
