body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.modal-open{
  padding-right: 50px !important;
  overflow: scroll;
}
.bg{
  background-color: #eaeaea;
}
.item-list{
  width: 100%;
}
a {
  color: #00B7FF;
}
.list{
   border-radius: 25px;
  list-style-type: none;
  margin: 10px 20px 10px 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}
.list:hover{
  background-color: #1abc9c;
  opacity: 0.8;
  filter: alpha(opacity=50);
}
.HeadText{
  text-align: center;
}
.img-block{
  width: 128px;
  height: 198px;
}
.img-center{
  display: block;
  margin:0 auto;
  padding: 35px 0px 35px 0px;
  width: 128px;
  height: 198px;
}
.button-center{
width: 100%;
}
form {
  width:70%;
  margin:50px auto;
}
.search{
  width:40%;
  height: 50px;
  padding:8px 15px;
  background:rgba(50, 50, 50, 0.2);
  border:0px solid #dbdbdb;
  font-size: 18px;
}
.button{
  position:relative;
  padding:6px 15px;
  left:-1px;
  border:2px solid #207cca;
  background-color:#207cca;
  color:#fafafa;
  height: 50px;
  width: auto;
}

.button:hover{
  background-color:#fafafa;
  color:#207cca;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;

/*    position: relative;
    top:150px;
    left: 500px;*/

  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.hideDataName{
  display: none;
}
.modal-footer{
  text-align: left !important;
}

.link{
  color: black;
  margin: 2px 2px 2px 2px;
}