
@font-face {
    font-family: 'bangna_newregular';
    src: url('bangna-new-webfont.woff2') format('woff2'),
         url('bangna-new-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
  color:#34495e;
  font-family: 'Oswald','bangna_newregular', sans-serif !important; 
  font: 14px;
  background-color: #eaeaea;
  padding: 0;
}
header{
  height: 100px;
  background-color:white;
}

.menuSocial:hover .dropdown-menu{
  display: block;
}
.webIcon:hover .weblist{
  display: block;
}
.os:hover .osList{
  display: block;
}
.device:hover .deviceList{
  display: block;
}
.head{
  position: absolute;
  right: 0;
  background-color: white;
}
.nav.affix {
    padding-left:3.7%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:9999;
    left: 0;
    right: 0;
}
.container { width: @container-desktop !important; }
.nav{
  font-family: 'Oswald', sans-serif !important; 
}
.menuLink{
  font-family: 'Oswald', sans-serif !important;
  padding-left: -5px 
}
.modal-open{
  padding-right: 0px !important;
  overflow: scroll;
}
.navbar{
  margin-bottom: 0;
  width: 100%;
}
.navbar-brand{
  padding-top: 10px;
}
.bg{
  /*background-color: #eaeaea;*/
}
.item-list{
  height: 100%;
  text-align:center;
  padding: 15px 0 0 5px;
  background-color: #fff;
  display: none;
  overflow: hidden;
  margin: 10px auto;
  box-shadow: 0 4px 2px 1px rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
.showIcon{
  margin-top: 15px;
  padding: 0px;
}
.listArea{
  border:1px solid red;
  display: block;
  margin: 0 auto;
}
.leftPopularDownload{
    /*position:absolute;*/
    /*right:983px; top:72px; bottom: 0; */
    margin-top: 10px;
    width: 100%;
    height: 170px;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 4px 2px 1px rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.leftPopularSearch{
    /*position:absolute;*/
    /*right:983px; top:332px; bottom: 0;*/
    padding: 0 0 1px 0;
    margin-top: 10px;
    width: 100%;
    height: 260px;
    background-color: #fff;
    box-shadow: 0 4px 2px 1px rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.leftPopularSearch1{
    /*position:absolute;*/
    /*right:983px; top:332px; bottom: 0;*/
    padding: 0 0 1px 0;
    margin-top: 10px;
    width: 100%;
    height: 295px;
    background-color: #fff;
    box-shadow: 0 4px 2px 1px rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.setAds{
  height: 700px;
  margin-bottom: 10px;
}
.ads{
    position:absolute;
    right:0; top:132px; bottom: 0;left:999px;
    width: 250px;
    height: 250px;
    margin-right: 14px;
    background-color: #fff;
    box-shadow: 0 4px 2px 1px rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

}
.allAdvertist{
  margin-top: 0 !important;
}
.IndexAds{
    /*position:absolute;*/
    /*right:0; top:72px; bottom: 0;left:999px;*/
    width: 100%;
    height: 250px;
    /*margin-right: 14px;*/
    margin-top: 0px;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 4px 2px 1px rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.SidexAds{
    margin-top: 10px;
    /*margin-left: 17px;*/
    padding: 0 0 1px 0;
    width: 100%;
    height: auto;
    background-color: #fff;
    box-shadow: 0 4px 2px 1px rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.CategoriesHead{
  width: 100%;
  height: 45px;
  background-color:#2c3e50;
  box-shadow: 0 4px 2px 1px rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  display:  table;
}
.CategoriesHead h4{
  margin: 0;
  color: white;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 22px;
}

.SidexAds ul, .leftPopularSearch ul, .leftPopularDownload ul, .leftPopularSearch1 ul{
  margin-top: 5px;
}
.SidexAds ul li a , .leftPopularSearch ul li a, .leftPopularDownload ul li a,.leftPopularSearch1 ul li a{
  font-size: 20px;
  color:#333;
}
.adsPageFace{
  position:absolute;
  right:0; top:57px; bottom: 0;left:999px;
  width: 250px;
  height: 250px;
  margin-right: 14px;
  background-color: #fff;
  box-shadow: 0 4px 2px 1px rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.backmenu{
  height: 60px;
}
a {
  color: #00B7FF;
}
.spacing{
  height: 5px;
}
.header{
  width: 100%;
  background-color: #F5F5F5;
  padding: 0px 0 0px 0;
  margin-top: 50px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  height: 70px;
}
.list{
  display: inline-block;
  padding: 0;
  border-radius: 5px;
  list-style-type: none;
  margin: 10px 10px 10px 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  width: 100px;
  height: 100px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}
.list:hover{
  background-color: #1abc9c;
  opacity: 0.8;
  filter: alpha(opacity=50);
}
.HeadText{
  text-align: center;
}
.list .img-block{
  display: inline-block;
  clear:both;
  width: 100% !important;
  height: 100% !important;

}
.nonbox:active,.nonbox:focus,.nonbox.active{
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
   box-shadow: none;
}
.img-center{
  display: block;
  margin:27px auto;
  /*padding: 35px 0px 35px 0px;*/
  width: 48px;
  height: 48px;
}
.button-center{
width: 100%;
}
form {
  width:70%;
  margin:0px auto;
}
.search{
  font-family: 'Oswald', sans-serif !important;
  width:40%;
  height: 50px;
  padding:8px 15px;
  background:rgba(50, 50, 50, 0.2);
  border:0px solid #dbdbdb;
  font-size: 18px;
  margin-top: 10px;
}
.button{
  position:relative;
  padding:6px 15px;
  left:-1px;
  bottom: 2px;
  border:2px solid #207cca;
  background-color:#207cca;
  color:#fafafa;
  height: 50px;
  width: auto;
}

.button:hover{
  background-color:#fafafa;
  color:#207cca;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;

/*    position: relative;
    top:150px;
    left: 500px;*/

  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.hideDataName{
  display: none;
}
.modal-footer{
  text-align: left !important;
}
.modal-content{
  width: 740px;
}
.link{
  color: black;
  margin: 2px 2px 2px 2px;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
.right-caret {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid #000000;
    display: inline-block;
    height: 0;
    margin-left: 5px;
    width: 0;
}
.TextBox{
  display:  table; 
  margin: 0 auto;
  /*background-color: #fff;*/
  box-shadow: 0 4px 2px 1px rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  width: 100%;
  height: 250px;
   background: url(../img/giftly.png); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.TextBox ul{
    /*width: 100%;*/
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
  }
.TextBox h1,.mainAdvertis h1{
   margin-top: 50px;
   text-align: center;
   text-decoration: underline;
}
.TextBox h4{
  margin-top: 20px; 
  text-align: center;
  font-size: 20px;
}
.TextBox ul li{
  display: inline;
  list-style-type: none;
  line-height: 30px;
  font-size: 18px;
  padding-left: 10px;
}
.setpadding{
  padding: 0;
}
.description{
  padding: 0;
}
.mainAdvertis{
  display:  table;
  margin: 10px 0 0 0px;
  background-color: #fff;
  box-shadow: 0 4px 2px 1px rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  width: 100%;
  height: 170px;
}
.banner{
  /*width: 90%;*/
  padding: 0;
}
.information{
  /*width: 90%;*/
  background-color: #fff;
  margin-top: 10px;
  box-shadow: 0 4px 2px 1px rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  height: 443px;
}
.information1{
  /*width: 90%;*/
  background-color: #fff;
  margin-top: 10px;
  box-shadow: 0 4px 2px 1px rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  height: 480px;
}
.content{

}
.headContent{
  margin: 20px auto 0;
}
.headContent h4{
  line-height: 45px;
  font-size: 24px;
  margin-left:10px;
}
.detail{
  margin-top: 20px
}
.detail h4{
  font: italic bold 22px/30px Georgia, serif;
  color: black;
}
.detail p{
  font-size: 20px;
}
.PNG span ,.Svg span{
  padding: 6px 12px 6px 12px;
  font-size: 14px;
  margin:0;
  vertical-align: middle;
}
.lpng{
  background-color: #2ecc71;
  margin-bottom: 0px;
  padding: 6px 12px;
  display: inline-block;
  border-radius:4px;
  color:white;
  vertical-align:middle; 
}
hr{
  margin:5px 0 5px 0;
}
.footer{
  width: 100%;
  height: 200px;
  background-color: #fff;
  margin-top: 15px;
  box-shadow: 0 4px 2px 1px rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
.footerbrand{
  margin-top: 10px;
}
.footerbrand p{
  color: #34495e;
  font-size: 12px
}
.footerList div{
  color: black;
}
.footerList p{
  margin:0;
}
.footerList li a{
  color:#34495e;
}
.stloader{
  position: absolute;
  top: 400px;
  right: 120px;
  margin-top: 100px;
  height: 700px;
}
.commentBlock{
  padding-bottom: 30px;
}
.commentHead{
  display: block;
  margin: 0 auto;
  text-align: center;
}

.pagination>li>a{
  color: black;
}
.license{
  margin-bottom: 5px;
}
.showImg img{
  margin-bottom: 10px;
  padding-bottom: 0;
}
.licenseName{
  padding-left: 5px;
  cursor: pointer;
}
.webSiteName{
  padding-left: 5px;
  cursor: pointer;
}
.pngList{
  padding: 0;
}
.pngList li{
  list-style-type: none;
  padding-bottom: 5px;
}
.pupDownload{
  padding-left: 18px;
  margin-top: 10px !important;
}
.clearPadding{
  list-style-type: none;
  padding: 0;
}
#Reserves{
  margin-top: 30px;
}
#disqus_thread{
  margin-top: 10px;
  padding-bottom: 20px;
  background-color: white;
  box-shadow: 0 4px 2px 1px rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}