body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.search{
  display: block;
  margin: 0 auto;
  width:50%;
}
.btnSearch{
  position:absolute;
  left: 1175px;
  top: 120px;
}
.list{
  list-style-type: none;
  margin: 10px 20px 10px 20px;
}
.HeadText{
  text-align: center;
}
.img-block{
  width: 100%;
}
.img-center{
  display: block;
  margin-bottom: 10px;
}
.button-center{
  position: relative;
  left:-21px;
}
.loader {

  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;

    position: relative;
    top:150px;
    left: 500px;

  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}